@charset "utf-8";
/*测边工具条*/
.star{
    color:red;
}
.side-bar{
    position: fixed;
    top:182px;
    right:0;
    z-index:10000;
}
.side-bar a{
    display: block;
    width:77px;
    margin-bottom:12px;
    background:url("../img/side_bar_icon.png") no-repeat;
}
.side-bar a.email{
    height:74px;
    background-position: 0 0;
}
.side-bar a.line{
    height:74px;
    background-position: 0 -86px;
}
.side-bar a.tel{
    height:74px;
    background-position: 0 -171px;
}
.side-bar a.favorable{
    height:74px;
    background-position: 0 -258px;
}
.side-bar a.compute{
    height:112px;
    background-position: 0 -345px;
}
/*测边工具条结束*/
.home-icon{
    background: url(../img/home_icons.png) no-repeat;
}
.banner img{
    width:100%;
    display: block;
    margin:0 auto;
    /* position: absolute; */
}
.banner{
     position:relative;
}
.wrap{
    width:1120px;
}
/*右邊菜單條*/
.right-tips-bar{
    width: 740px;
    height: 87px;
    bottom:0;
    top:0;
    margin:auto 0;
    margin-bottom:280px;
    left:0;
    position: absolute;
}
.right-tips-bar .r-t-b-title{
    background: #FF1131;
    color: #fff;
    height:62px;
    line-height:62px;
    text-align: right;
    font-size:28px;
    font-weight:bold;
    padding-right:20px;

}
.right-tips-bar .r-t-b-menu{
    text-align: right;
    background:#A20017;
    color:#fff;
    padding:20px 0;
    padding-right:20px;
}
.right-tips-bar .r-t-b-menu a,.right-tips-bar .r-t-b-menu span{
    display: inline-block;
    vertical-align: middle;
    font-size:15px;
}
.right-tips-bar .r-t-b-menu a{
    padding:0 12px;
}
.right-tips-bar .r-t-b-menu a{
    color:#fff;
}
.email-link{
    position:relative;
    width:18px;
    height:15px;
    background:url(../img/bar_email_icon.png) no-repeat center center;
}
.email-link .count{
    position: absolute;
    display: inline-block;
    font-style: none;
    color:#A20016;
    top:-6px;
    right:3px;
    width:14px;
    height:14px;
    line-height:14px;
    text-align: center;
    font-size:12px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background:#fff;
}
.ni-hao{
    margin-left:8px;
}
/*右邊菜單條結束*/
.main-wrap-left .item a{
    display: block;
    width:192px;
    padding:20px 0;
    background:#A20016;
    color:#fff;
    text-align:center;
}
.main-wrap-left .item a:hover,.main-wrap-left .active a{
    background:#FF1131;
}
.main-wrap-middle {
    width:630px;
    margin-left:15px;
}
.main-wrap-right{
    width:268px;
    margin-left:15px;
}
.main-right-head,.main-middle-head{
    color:#fff;
    background:#FF1131;
    height:36px;
    line-height:36px;
    padding:0 10px;
    font-size:16px;
    font-weight: bold;
}
.main-right-body .item{
    padding:10px 0;
    border-bottom:1px solid #C1C0C0;
}
.main-right-body .item .left-img{
    width:112px;
    float:left;
}
.main-right-body .item .right-text{
    width: 146px;
    float:left;
    margin-left:10px;
}
.main-right-body .item .right-text .tit{
    margin-bottom:10px;
    font-size:16px;
    font-weight:bold;
}
/*下面列表內容*/
.main{
    background:#F5F4F4;
}
.main .wrap{
    padding:7px 14px;
    background: #fff;
}
.lists{
    /*margin-left:-7px;
    margin-right:-7px;*/
}
.why-join-text{
    width: 740px;
    height: 87px;
    bottom:0;
    top:0;
    margin:auto 0;
    margin-bottom:280px;
    left:0;
    position: absolute;
    background:url(../img/why_join_tips_img.jpg) no-repeat center center;
}
.info-text-bottom{
    position: relative;
}
.info-text-bottom .fl{
    width:168px;
    font-size:13px;
}
.lists .item{
    width:50%;
    height: 403px;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
}

.lists .box-border{
    width:100%;
    height:100%;
    border:1px solid #FD7B8A;
    position:relative;
}
.lists .info-text{
    background:#FF1131;
    position:absolute;
    bottom:-20px;
    left:-20px;
    right:-20px;
    padding:20px;
}
.info-text .t-1{
    color:#fff;
    font-size:18px;
    margin-bottom:8px;
}
.info-text .t-2{
    color:#fff;
    font-size:14px;
    margin-bottom:10px;
}
.go-btn-wrap{
    text-align: right;
}
.go-btn{
    /*position: absolute;*/
    display: inline-block;
    vertical-align: middle;
    width:118px;
    height: 29px;
    right:-10px;
    bottom:-10px;
    background: url(../img/go_btn.gif) no-repeat center center;
    -webkit-background-size:100%;
    background-size:100%;
}


/*更改個人信息框內容*/
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.content-wrap{
    /*position: absolute;*/
    padding-top:250px;
    left:0px;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:860px;
    z-index: 110;
    padding-bottom:50px;
}
.content-title{
    height:75px;
    position: relative;
    background:#A20017;
    color:#fff;
    padding-top:40px;
}
.content-title .tips{
    padding:10px 40px;
}
.content-title .tit{
    position: absolute;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:28px;
    width: 440px;
    background:#FF1131;
    top:-40px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
/*中间内容*/
.lists{
    margin-left:-7px;
    margin-right:-7px;
}
.why-join-text{
    width: 740px;
    height: 87px;
    bottom:0;
    top:0;
    margin:auto 0;
    margin-bottom:280px;
    left:0;
    position: absolute;
    background:url(../img/why_join_tips_img.jpg) no-repeat center center;
}
.info-text-bottom{
    position: relative;
}
.info-text-bottom .fl{
    width:340px;
    font-size:13px;
}
.lists .item{
    width:308px;
    height: 403px;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float:left;
    margin:7px;
}
.lists-1 .item{
    width:100%;
    margin-left:0;
    margin-right:0;
}
.lists .info-text{
    background:#FF1131;
    position:absolute;
    bottom:-20px;
    left:-20px;
    right:-20px;
    padding:20px;
}
.info-text .t-1{
    color:#fff;
    font-size:18px;
    margin-bottom:8px;
}
.info-text .t-2{
    color:#fff;
    font-size:14px;
    margin-bottom:10px;
}
.btn-wrap{
    text-align:right;
    margin-top:8px;
}
.go-btn{
    color:#FF2B46;
    font-size:20px;
    font-weight:bold;
    display: inline-block;
    vertical-align: middle;
    width:118px;
    height: 29px;
    line-height:29px;
    text-align:center;
    background: url(../img/go_btn.gif) no-repeat center center;
    -webkit-background-size:100%;
    background-size:100%;
}
/*彈框*/
.over-pop{
    z-index: 12000;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: auto;
    background: rgba(255, 255, 255, 0);
    /* ßfilter:alpha(opacity=70);
    opacity: .7; */

}
.resigter-con{
    background:#fff;
    border:1px solid red;
    position: absolute;
    width:900px;
    height: 740px;
    padding:20px;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    /* overflow: auto; */
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
.close-btn{
    display: inline-block;
    width:46px;
    height:46px;
    position: absolute;
    right:-24px;
    top:-24px;
    cursor: pointer;
    background:url(../img/x_close_icon.png) no-repeat center center;
}
/*tab*/
.tab-content .lists .item,.price .item{
    float:left;
    width:20%;
}
.tab-content{
    border-left:1px solid #FF8192;
    border-right:1px solid #FF8192;
    border-bottom: 1px solid #FF8192;
    border-top:1px solid #FF8192;
    /*padding:28px;*/
    height:620px;
    overflow: auto;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tab-title{
    height: 34px;
    line-height: 34px;

}
.tab-title a{
    float:left;
    padding:0 28px;
    background: #FF1131;
    color:#fff;
    margin-right:2px;
    border-top:1px solid #FF8192;
    border-right:1px solid #FF8192;
    border-left:1px solid #FF8192;
}
.tab-title .active{
    background: #fff;
    color:#FF1C3B;
    margin-bottom: -1px;
    padding-bottom:1px;
}
.tab-content .item-con{
    display: none;
}
.tab-content .active{
    display: block;
}
.price .new{
    color:#FF1131;
}
.tab-content .info .left,.tab-content .info .right{
    width:50%;
}
.tab-content .info .right{
    text-align: right;
}
.tab-content .price{
    padding:10px 0;
}
.tab-content .info{
    padding:8px 0;
}
.tab-content .info .item{
    padding: 0;
}
.tips-bar{
    color:#fff;
    margin-bottom:20px;
    padding-left:20px;
    height: 40px;
    line-height: 40px;
    background: #FF1131 url(../img/tips_bg.png) no-repeat center right;
}
.meal-title{
   padding-bottom:20px;
}
.meal-title .t1{
    font-size: 20px;
    color:#FF1131;
}
.meal-title .t2{
    font-size: 18px;
}
.tab-wrap{
}
/*下面tab內容*/
.classify-left .top .item{
    width:160px;
}
.classify-right .item {
    width:170px;
    height: 170px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}
.classify-right .item img{
    width:100%;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;

}
.classify-right .item-wrap{
    position: relative;
    float: left;
    margin-right:26px;
    margin-bottom:26px;
}
.classify-right .item-wrap .no{
    position: absolute;
    left:0;
    bottom: 0;
    background: #FF1131;
    color:#fff;
    display: inline-block;
    width:22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
}
.classify-left{
    width:368px;
}
.classify-right{
    width:590px;
}
.menu-classify{
    position: relative;
}
.menu-classify .classify-left .bottom{
    position: absolute;
    bottom:0;
}
.tab-content .describe{
    margin-bottom:20px;
}
.tab-content .lists  .tit{
    color:#FE0527;
    font-weight: bold;
    margin-bottom:8px;
}
.tab-content .lists li{
    padding:2px 0;
}
.classify-left li{
    padding:5px 0;
}
.classify-left .top .tit{
    color:#FF1131;
    font-weight: bold;
    height: 36px;
    line-height: 36px;
}
.over-pop .item{
    margin:0;
}
.over-pop .lists{
    margin-left:0;
    margin-right:0;
}
.over-pop .price{
    padding-left:20px;
    padding-right:20px;
}
.over-pop .info{
    padding-left:20px;
    padding-right:20px;
}