@charset "utf-8";
/*测边工具条*/
.star{
    color:red;
}
.side-bar{
    position: fixed;
    top:182px;
    right:0;
    z-index:10000;
}
.side-bar a{
    display: block;
    width:77px;
    margin-bottom:12px;
    background:url("../img/side_bar_icon.png") no-repeat;
}
.side-bar a.email{
    height:74px;
    background-position: 0 0;
}
.side-bar a.line{
    height:74px;
    background-position: 0 -86px;
}
.side-bar a.tel{
    height:74px;
    background-position: 0 -171px;
}
.side-bar a.favorable{
    height:74px;
    background-position: 0 -258px;
}
.side-bar a.compute{
    height:112px;
    background-position: 0 -345px;
}
/*测边工具条结束*/
.home-icon{
    background: url(../img/home_icons.png) no-repeat;
}
.banner img{
    width:100%;
    display: block;
    margin:0 auto;
    /* position: absolute; */
}
.banner{
     position:relative;
}
.wrap{
    width:1120px;
}
/*右邊菜單條*/
.right-tips-bar{
    width: 740px;
    height: 87px;
    bottom:0;
    top:0;
    margin:auto 0;
    margin-bottom:280px;
    left:0;
    position: absolute;
}
.right-tips-bar .r-t-b-title{
    background: #FF1131;
    color: #fff;
    height:62px;
    line-height:62px;
    text-align: right;
    font-size:28px;
    font-weight:bold;
    padding-right:20px;

}
.right-tips-bar .r-t-b-menu{
    text-align: right;
    background:#A20017;
    color:#fff;
    padding:20px 0;
    padding-right:20px;
}
.right-tips-bar .r-t-b-menu a,.right-tips-bar .r-t-b-menu span{
    display: inline-block;
    vertical-align: middle;
    font-size:15px;
}
.right-tips-bar .r-t-b-menu a{
    padding:0 12px;
}
.right-tips-bar .r-t-b-menu a{
    color:#fff;
}
.email-link{
    position:relative;
    width:18px;
    height:15px;
    background:url(../img/bar_email_icon.png) no-repeat center center;
}
.email-link .count{
    position: absolute;
    display: inline-block;
    font-style: none;
    color:#A20016;
    top:-6px;
    right:3px;
    width:14px;
    height:14px;
    line-height:14px;
    text-align: center;
    font-size:12px;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    background:#fff;
}
.ni-hao{
    margin-left:8px;
}
/*右邊菜單條結束*/
.main-wrap-left .item a{
    display: block;
    width:192px;
    padding:20px 0;
    background:#A20016;
    color:#fff;
    text-align:center;
}
.main-wrap-left .item a:hover,.main-wrap-left .active a{
    background:#FF1131;
}
.main-wrap-middle {
    width:630px;
    margin-left:15px;
}
.main-wrap-right{
    width:268px;
    margin-left:15px;
}
.main-right-head,.main-middle-head{
    color:#fff;
    background:#FF1131;
    height:36px;
    line-height:36px;
    padding:0 10px;
    font-size:16px;
    font-weight: bold;
}
.main-right-body .item{
    padding:10px 0;
    border-bottom:1px solid #C1C0C0;
}
.main-right-body .item .left-img{
    width:112px;
    float:left;
}
.main-right-body .item .right-text{
    width: 146px;
    float:left;
    margin-left:10px;
}
.main-right-body .item .right-text .tit{
    margin-bottom:10px;
    font-size:16px;
    font-weight:bold;
}
/*下面列表內容*/
.main{
    background:#F5F4F4;
}
.main .wrap{
    padding:7px 14px;
    background: #fff;
}


/*更改個人信息框內容*/
.inline-block{
    display: inline-block;
}
.block{
    display: block;
}
.content-wrap{
    /*position: absolute;*/
    padding-top:250px;
    left:0px;
    right:0;
    margin-left:auto;
    margin-right:auto;
    width:860px;
    z-index: 110;
    padding-bottom:50px;
}
.content-title{
    height:75px;
    position: relative;
    background:#A20017;
    color:#fff;
    padding-top:40px;
}
.content-title .tips{
    padding:10px 40px;
}
.content-title .tit{
    position: absolute;
    height:80px;
    line-height:80px;
    text-align:center;
    font-size:28px;
    width: 440px;
    background:#FF1131;
    top:-40px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.form-con input[type="text"],.form-con input[type='password'],select{
    border:1px solid #B4B4B4;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    padding:5px;
    margin:5px 0;
}
.form-con input[type="text"]:focus,.form-con input[type='password']:focus,select:focus{
    outline: none;
    box-shadow: 0px 0px 4px 1px #70cbf7;
}
.form-con .row{
    margin:8px 0;
}
.form-con .inline-block{
    margin-right:10px;
}
.date .con select,.date .con .calendar-btn{
    display: inline-block;
    vertical-align: middle;
}
.date .con select{
    margin-right:10px;
}
.form-con .tit-1{
    font-weight:bold;
}
.ren-icon{
    display: inline-block;
    vertical-align: middle;
    width:9px;
    height:8px;
    margin-right:6px;
    margin-left:6px;
    background: url(../img/ren_icon.gif) no-repeat center center;
}
.sub-btn{
    display: inline-block;
    vertical-align: middle;
    width: 197px;
    height: 51px;
    color:#fff;
    text-align:center;
    line-height:51px;
   background:#FF1131;
    font-size:22px;
    font-weight:bold;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.bottom-con .fl{
    width:450px;
}
.add-btn{
    position:absolute;
    left:0;
    bottom:0;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    background:url(../img/add_date_icon.gif) no-repeat center center;
}
.date-wrap{
    position: relative;
    padding-bottom:30px;
}
.address-textarea{
    resize: none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.tab-content .row{
    margin:10px 0;
}
.label-wrap{
    margin-right:10px;
    display: block;
    margin-top:10px;
    margin-bottom:10px;
}
.search-favorable{
    color:#FF1033;
}
.label,.input-field{
    display: inline-block;
    vertical-align: top;
}
.label{
    width:165px;
}
.input-field{
    width:460px;
}
.w70{
    width:70px;
}
.w300{
    width:300px;
}
.card-img{
    width:156px;
    height: 229px;
    margin-top:75px;
    background:url(../img/card_img.jpg) no-repeat center center;
}
.lists-content .list-item{
    border-bottom:1px solid #C4C4C4;
    padding:8px 0;
}
.lists-content .list-item-left{
    width:143px;
    height: 85px;
}
.lists-content .list-item-middle{
    padding-left:10px;
    height:85px;
}
.lists-content .list-item-right{
    text-align:right;
    position:relative;
    height:85px;
}
.li-jin-btn{
    display: inline-block;
    width: 150px;
    height: 38px;
    position:absolute;
    bottom:0;
    right:0;
    background:url(../img/li_look.png) no-repeat center center;
}

.date-text{
    padding-right:20px;
    font-size: 18px;
    font-weight:bold;
}
.close-btn{
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    width:14px;
    height: 14px;
    right:0;
    top:4px;
    cursor: pointer;
    background:url(../img/close_btn_a.png) no-repeat center center;
}
.red-1{
    color:#D11B40;
}
.list-item-middle .tit-1{
    font-size:18px;
    font-weight:bold;
    margin-bottom:20px;
}