@charset "utf-8";
$lte7: true;
@import "sassCore/function";
$pink:#FDE4E4;
$red:#FF1131;
$blue-link:#0F5DFD;
$px10:10px;
@mixin inline-block{
  display:inline-block;
  vertical-align: middle;
}
/*登录*/
.login-info-tips{
  padding:10px 15px;
  background:$pink;
  .user-name{
    color:$red;
  }
}
.default-link{
  color:$blue-link;
}
.personage-info{
  padding:$px10;
  .row{
    margin:8px 0;
    .item{
      @include inline-block;
      margin-right:40px;
    }
  }
}
.blue-link{
  color:$blue-link;
}
.login-btn{
  display: inline-block;
  font-size:22px;
  font-weight:bold;
  color:#fff;
  background:#FF1131;
  padding:8px 30px;
  @include prefixer(border-radius, 4px, webkit moz o);
}
